###############################################################################################################
###### ENVIRONMENT VARIABLES FOR THE PROJECT. DO NOT COMMIT SENSITIVE INFORMATION TO VERSION CONTROL.##########
###############################################################################################################

# WALLET ADDRESS THAT MIGHT HAVE SOME FUNDS TO PAY FOR TRANSACTIONS.
WALLET_ADDRESS=
# PRIVATE KEY FOR THE WALLET ADDRESS. 
CRE_ETH_PRIVATE_KEY=

# TENDERLY CREDENTIALS
# CHECK README.md FOR INSTRUCTIONS ON HOW TO GENERATE THESE CREDENTIALS
TENDERLY_RPC_URL=https://virtual.rpc.tenderly.co/...
TENDERLY_WS_URL=wss://virtual.rpc.tenderly.co/...
# IF YOU WANT TO USE THE TENDERLY VERIFIER, UNCOMMENT THE LINE BELOW AND MAKE SURE TO SET THE TENDERLY_VERIFIER_URL ENV VARIABLE TO THE CORRECT URL (OPTIONAL)
# TENDERLY_VERIFIER_URL=$TENDERLY_RPC_URL/verify

# WORLD ID CREDENTIALS 
# CHECK README.md FOR INSTRUCTIONS ON HOW TO GENERATE THESE CREDENTIALS
WORLD_ID_API_KEY=

# CRE CHAINLINK
# FOR THE HACKATHON, WE ARE USING THE MOCK FORWARDER, BUT IN PRODUCTION, THIS SHOULD BE THE ADDRESS OF THE CHAINLINK FORWARDER CONTRACT
# MOCK FORWARDER ADDRESS: 0x15fC6ae953E024d975e77382eEeC56A9101f9F88
CHAINLINK_FORWARDER=0x15fC6ae953E024d975e77382eEeC56A9101f9F88

# CONTRACT ADDRESSES
# DO NOT BE CONCERNETD TO ADD IT HERE.
# IT WILL BE ADDED AUTOMATICALLY BY THE DEPLOYMENT SCRIPTS AND IT WILL BE USED BY THE FRONTEND TO INTERACT WITH THE CONTRACTS.
VEHICLE_NFT_ADDRESS=
CONSUMER_ADDRESS=

