# Environment variables for the project. Do not commit sensitive information to version control.
WALLET_ADDRESS=
# Ethereum private key or 1Password reference (e.g. op://vault/item/field)
CRE_ETH_PRIVATE_KEY=

# TENDERLY CREDENTIALS
TENDERLY_RPC_URL=
TENDERLY_WS_URL=
TENDERLY_VERIFIER_URL=

# WORLD ID CREDENTIALS
WORLD_ID_API_KEY=

# CRE CHAINLINK
CHAINLINK_FORWARDER=

# CONTRACT ADDRESSES
VEHICLE_NFT_ADDRESS=
CONSUMER_ADDRESS=

